<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      .pokemon-main-title {
        display: flex;
        justify-content: center;
      }
      .pokemon-main-title-image {
        width: 15vw;
        height: 15vh;
      }
    </style>
  </head>
  <body>
    <header class="pokemon-main-title">
      <a href="https://fontmeme.com/pokemon-font/"><img class="pokemon-main-title-image" src="https://fontmeme.com/permalink/200426/7d9de6c67bd83a0ed12684b0a4c0b6e1.png" alt="Vuedex" border="0"></a>
    </header>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
